Repository openedx/frontend-enterprise: changes, and which Codecov flags are due for each by the changed paths.
All: catalog-search, logistration, utils

codecov.yml:

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 0.10%
      catalog-search:
        target: auto
        threshold: 0.10%
        flags:
          - catalog-search
      logistration:
        target: auto
        threshold: 0.10%
        flags:
          - logistration
      utils:
        target: auto
        threshold: 0.10%
        flags:
          - utils

flags:
  catalog-search:
    paths:
      - packages/catalog-search/src
  logistration:
    paths:
      - packages/logistration/src
  utils:
    paths:
      - packages/utils/src

comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: no

ci: release workflow should only increment versions (#162)
  .github/pull_request_template.md
  .github/workflows/release.yml
  README.rst
Due: none

fix: update Algolia link in catalog-search README
  packages/catalog-search/README.md
Due: none

docs: add link to git tags
  .github/pull_request_template.md
Due: none

fix: update Algolia link in catalog-search README (#163)
  .github/pull_request_template.md
  packages/catalog-search/README.md
Due: none

WIP: ENT4816- Add jobs dropdown
  packages/catalog-search/src/FacetListBase.jsx
  packages/catalog-search/src/SearchContext.jsx
  packages/catalog-search/src/data/constants.js
Due: catalog-search

WIP: ENT4816- Add jobs dropdown (#146)
  packages/catalog-search/src/FacetListBase.jsx
  packages/catalog-search/src/SearchContext.jsx
  packages/catalog-search/src/data/constants.js
Due: catalog-search

change readme - testing
  packages/catalog-search/README.md
Due: none

style: :lipstick: Fix Facet alignment and styling of badge for 0 results
  packages/catalog-search/CHANGELOG.md
  packages/catalog-search/package.json
  packages/catalog-search/src/FacetItem.jsx
Due: catalog-search

feat: ENT4876: Added delete functionality in single-item refinement type
  packages/catalog-search/src/FacetListBase.jsx
Due: catalog-search

feat: ENT4876: Added delete functionality in single-item refinement type (#168)
  packages/catalog-search/src/FacetListBase.jsx
Due: catalog-search

feat: update searchbox to match figma
  packages/catalog-search/src/SearchBox.jsx
  packages/catalog-search/src/SearchHeader.jsx
  packages/catalog-search/src/data/constants.js
  packages/catalog-search/src/styles/_SearchBox.scss
  packages/catalog-search/src/styles/_SearchField.scss
  packages/catalog-search/src/tests/SearchBox.test.jsx
Due: catalog-search

fix: lint changes
  packages/catalog-search/src/SearchBox.jsx
  packages/catalog-search/src/SearchHeader.jsx
  packages/catalog-search/src/tests/SearchBox.test.jsx
Due: catalog-search

fix: show count on dropdown list items only when showBadge is true
  packages/catalog-search/src/FacetItem.jsx
  packages/catalog-search/src/FacetListBase.jsx
Due: catalog-search

chore(deps): update dependency ansi-regex to 5.0.1 [security]
  package-lock.json
Due: none

feat: add ie11-alert package
  packages/ie11-alert/.eslintignore
  packages/ie11-alert/.gitignore
  packages/ie11-alert/.npmignore
  packages/ie11-alert/CHANGELOG.md
  packages/ie11-alert/LICENSE
  packages/ie11-alert/Makefile
  packages/ie11-alert/README.md
  packages/ie11-alert/babel.config.js
  packages/ie11-alert/package.json
  packages/ie11-alert/src/IE11DeprecationAlert.jsx
  packages/ie11-alert/src/index.js
Due: none

rename package
  packages/deprecation-alert/.eslintignore
  packages/deprecation-alert/.gitignore
  packages/deprecation-alert/.npmignore
  packages/deprecation-alert/CHANGELOG.md
  packages/deprecation-alert/LICENSE
  packages/deprecation-alert/Makefile
  packages/deprecation-alert/README.md
  packages/deprecation-alert/babel.config.js
  packages/deprecation-alert/package-lock.json
  packages/deprecation-alert/package.json
  packages/deprecation-alert/src/IE11DeprecationAlert.jsx
  packages/deprecation-alert/src/IE11DeprecationAlert.test.jsx
  packages/deprecation-alert/src/index.js
  packages/deprecation-alert/src/utils.js
  packages/ie11-alert/README.md
Due: none

build: use the organization commitlint check
  .github/workflows/commitlint.yml
Due: none

feat: add sendEnterpriseTrackEvent to utils package
  packages/utils/src/analytics.js
  packages/utils/src/index.js
  packages/utils/src/tests/analytics.test.js
Due: utils

feat: hide refinement tags with url param
  packages/catalog-search/src/ClearCurrentRefinements.jsx
  packages/catalog-search/src/CurrentRefinements.jsx
  packages/catalog-search/src/SearchContext.jsx
  packages/catalog-search/src/data/constants.js
Due: catalog-search

chore: lint errors
  packages/catalog-search/src/ClearCurrentRefinements.jsx
  packages/catalog-search/src/CurrentRefinements.jsx
  packages/catalog-search/src/SearchContext.jsx
  packages/catalog-search/src/data/constants.js
Due: catalog-search

fix: PR requests
  packages/catalog-search/src/ClearCurrentRefinements.jsx
  packages/catalog-search/src/CurrentRefinements.jsx
Due: catalog-search

feat: hide refinement tags with url param (#175)
  packages/catalog-search/src/ClearCurrentRefinements.jsx
  packages/catalog-search/src/CurrentRefinements.jsx
  packages/catalog-search/src/SearchContext.jsx
  packages/catalog-search/src/data/constants.js
Due: catalog-search

chore(deps): update commitlint monorepo to v12.1.4
  package.json
Due: none

build: no need for local commitlint
  commitlint.config.js
  package-lock.json
  package.json
Due: none

feat: add learning type facet
  packages/catalog-search/src/LearningTypeRadioFacet.jsx
  packages/catalog-search/src/SearchFilters.jsx
  packages/catalog-search/src/config/index.js
  packages/catalog-search/src/data/constants.js
Due: catalog-search

fix: resolve lint errors
  packages/catalog-search/src/LearningTypeRadioFacet.jsx
  packages/catalog-search/src/SearchFilters.jsx
  packages/catalog-search/src/data/constants.js
Due: catalog-search

fix: dropdown items not showing issue
  packages/catalog-search/src/LearningTypeRadioFacet.jsx
Due: catalog-search

fix: resolve lint errors
  packages/catalog-search/src/LearningTypeRadioFacet.jsx
Due: catalog-search

chore(deps): update node.js to v14
  .nvmrc
Due: none

refactor: add comment for no display in constants
  packages/catalog-search/src/data/constants.js
Due: catalog-search

Muneeb/ENT-5021 add learning type facet (#177)
  packages/catalog-search/src/LearningTypeRadioFacet.jsx
  packages/catalog-search/src/SearchFilters.jsx
  packages/catalog-search/src/config/index.js
  packages/catalog-search/src/data/constants.js
Due: catalog-search

build: remove changelogPreset config in lerna.json
  package-lock.json
  package.json
Due: none

build: remove changelogPreset config in lerna.json (#178)
  package-lock.json
  package.json
Due: none

fix: use shared browserslist configuration
  packages/catalog-search/package-lock.json
  packages/catalog-search/package.json
  packages/logistration/package-lock.json
  packages/logistration/package.json
  packages/utils/package-lock.json
  packages/utils/package.json
Due: none

fix: use shared browserslist configuration (#179)
  packages/catalog-search/package-lock.json
  packages/catalog-search/package.json
  packages/logistration/package-lock.json
  packages/logistration/package.json
  packages/utils/package-lock.json
  packages/utils/package.json
Due: none

fix: reverted changes to use program_title and now using program title instead of program title.
  packages/catalog-search/src/config/index.js
  packages/catalog-search/src/data/constants.js
Due: catalog-search

fix: reverted changes to use program_title and now using program title instead of program title. (#181)
  packages/catalog-search/src/config/index.js
  packages/catalog-search/src/data/constants.js
Due: catalog-search

Revert "fix: reverted changes to use program_title and now using program title instead of program title. (#181)"
  packages/catalog-search/src/config/index.js
  packages/catalog-search/src/data/constants.js
Due: catalog-search

Revert "fix: reverted changes to use program_title and now using program title instead of program title. (#181)" (#182)
  packages/catalog-search/src/config/index.js
  packages/catalog-search/src/data/constants.js
Due: catalog-search
