Repository openedx/frontend-enterprise: changes, and which Codecov flags are due for each by the changed paths.
All: catalog-search, logistration, utils

build: update npm scripts to use npm workspaces and update readme
  README.rst
  package.json
Due: none

build: attempt to fetch tags in checkout workflow step
  .github/workflows/ci.yml
Due: none

build: move back to pulling tags as separate step
  .github/workflows/ci.yml
Due: none

Node 16 upgrade and peer dependency cleanup (#250)
  .github/workflows/bump-all-major.yml
  .github/workflows/ci.yml
  .github/workflows/publish-from-package.yml
  .github/workflows/release.yml
  .nvmrc
  README.rst
  common/extendESLintConfig.js
  common/extendJestConfig.js
  package-lock.json
  package.json
  packages/catalog-search/.eslintrc.js
  packages/catalog-search/Makefile
  packages/catalog-search/jest.config.js
  packages/catalog-search/package-lock.json
  packages/catalog-search/package.json
  packages/logistration/.eslintrc.js
  packages/logistration/Makefile
  packages/logistration/jest.config.js
  packages/logistration/package-lock.json
  packages/logistration/package.json
  packages/logistration/src/LoginRedirect.jsx
  packages/utils/.eslintrc.js
  packages/utils/Makefile
  packages/utils/jest.config.js
  packages/utils/package-lock.json
  packages/utils/package.json
Due: logistration

build: use npm ci
  .github/workflows/bump-all-major.yml
  .github/workflows/ci.yml
  .github/workflows/publish-from-package.yml
  .github/workflows/release.yml
Due: none

build: use npm ci (#254)
  .github/workflows/bump-all-major.yml
  .github/workflows/ci.yml
  .github/workflows/publish-from-package.yml
  .github/workflows/release.yml
Due: none

fix: updated enterprise role determination with multiple enterprise support
  packages/utils/src/roles.js
  packages/utils/src/tests/roles.test.jsx
Due: utils

fix: updated enterprise role determination with multiple enterprise support (#253)
  packages/utils/src/roles.js
  packages/utils/src/tests/roles.test.jsx
Due: utils

fix: switch SearchFilters to mobile menu when smaller than large bp. ENT-5800
  packages/catalog-search/src/SearchFilters.jsx
Due: catalog-search

feat: Add package-lock file version check
  .github/workflows/lockfileversion-check.yml
Due: none

fix: switch SearchFilters to mobile menu when smaller than large bp. ENT-5800 (#256)
  packages/catalog-search/src/SearchFilters.jsx
Due: catalog-search

feat: Add package-lock file version check (#257)
  .github/workflows/lockfileversion-check.yml
Due: none

chore(deps): update dependency @edx/paragon to v14.16.10
  package-lock.json
  packages/catalog-search/package.json
  packages/utils/package-lock.json
Due: none

chore!: Dropped support for Node 12 BREAKING CHANGE: Dropped Node 12 support
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

fix: revert changes
  .github/workflows/release.yml
Due: none

fix: Use media query to resize for mobile in SearchFilters
  .gitignore
  package-lock.json
  packages/catalog-search/package.json
  packages/catalog-search/src/SearchFilters.jsx
  packages/catalog-search/src/tests/SearchFilters.test.jsx
  packages/logistration/package.json
  packages/utils/package.json
Due: catalog-search

fix: Use media query to resize for mobile in SearchFilters (#259)
  .gitignore
  package-lock.json
  packages/catalog-search/package.json
  packages/catalog-search/src/SearchFilters.jsx
  packages/catalog-search/src/tests/SearchFilters.test.jsx
  packages/logistration/package.json
  packages/utils/package.json
Due: catalog-search

fix: remove unneeded packages from utils and catalog-search
  package-lock.json
  packages/catalog-search/package.json
  packages/logistration/package.json
  packages/utils/package-lock.json
  packages/utils/package.json
Due: none

docs: update README to include docs on installing packages in NPM workspaces
  README.rst
Due: none

fix: update devDependencies in `utils` and `logistration`; add more docs to README (#260)
  README.rst
  package-lock.json
  packages/catalog-search/package.json
  packages/logistration/package.json
  packages/utils/package-lock.json
  packages/utils/package.json
Due: none

feat: updated codecov action to v3
  .github/workflows/bump-all-major.yml
  .github/workflows/ci.yml
  .github/workflows/publish-from-package.yml
  .github/workflows/release.yml
Due: none

chore: update peer dependency requirement for @edx/frontend-platform
  package-lock.json
  packages/catalog-search/package.json
  packages/logistration/package.json
  packages/utils/package.json
Due: none

chore: update peer dependency requirement for @edx/frontend-platform (#263)
  package-lock.json
  packages/catalog-search/package.json
  packages/logistration/package.json
  packages/utils/package.json
Due: none

feat: updated codecov action to v3 (#262)
  .github/workflows/bump-all-major.yml
  .github/workflows/ci.yml
  .github/workflows/publish-from-package.yml
  .github/workflows/release.yml
Due: none

feat: add hotjar library
  README.rst
  package-lock.json
  package.json
  packages/catalog-search/src/CurrentRefinements.jsx
  packages/catalog-search/src/FacetListBase.jsx
  packages/catalog-search/src/SearchBox.jsx
  packages/catalog-search/src/SearchContext.jsx
  packages/catalog-search/src/SearchFilters.jsx
  packages/catalog-search/src/data/hooks.js
  packages/hotjar/.eslintignore
  packages/hotjar/.eslintrc.js
  packages/hotjar/.gitignore
  packages/hotjar/.npmignore
  packages/hotjar/CHANGELOG.md
  packages/hotjar/LICENSE
  packages/hotjar/Makefile
  packages/hotjar/README.rst
  packages/hotjar/babel.config.js
  packages/hotjar/jest.config.js
  packages/hotjar/package.json
  packages/hotjar/src/hotjar.js
  packages/hotjar/src/tests/hotjar.test.js
  packages/logistration/package.json
  packages/utils/package.json
Due: catalog-search

feat: add hotjar library (#264)
  README.rst
  package-lock.json
  package.json
  packages/catalog-search/src/CurrentRefinements.jsx
  packages/catalog-search/src/FacetListBase.jsx
  packages/catalog-search/src/SearchBox.jsx
  packages/catalog-search/src/SearchContext.jsx
  packages/catalog-search/src/SearchFilters.jsx
  packages/catalog-search/src/data/hooks.js
  packages/hotjar/.eslintignore
  packages/hotjar/.eslintrc.js
  packages/hotjar/.gitignore
  packages/hotjar/.npmignore
  packages/hotjar/CHANGELOG.md
  packages/hotjar/LICENSE
  packages/hotjar/Makefile
  packages/hotjar/README.rst
  packages/hotjar/babel.config.js
  packages/hotjar/jest.config.js
  packages/hotjar/package.json
  packages/hotjar/src/hotjar.js
  packages/hotjar/src/tests/hotjar.test.js
  packages/logistration/package.json
  packages/utils/package.json
Due: catalog-search

feat: rename hotjar.js to index.js
  packages/hotjar/src/index.js
  packages/hotjar/src/tests/index.test.js
Due: none

feat: rename hotjar.js to index.js (#265)
  packages/hotjar/src/index.js
  packages/hotjar/src/tests/index.test.js
Due: none

fix: search reset after checkbox click in dropdown
  package-lock.json
  packages/catalog-search/src/TypeaheadFacetDropdown.jsx
Due: catalog-search

fix: search reset after checkbox click in dropdown (#267)
  package-lock.json
  packages/catalog-search/src/TypeaheadFacetDropdown.jsx
Due: catalog-search

fix: small fix to dropdown toggle
  packages/catalog-search/src/FacetDropdown.jsx
  packages/catalog-search/src/LearningTypeRadioFacet.jsx
Due: catalog-search

fix: small fix to dropdown toggle (#269)
  packages/catalog-search/src/FacetDropdown.jsx
  packages/catalog-search/src/LearningTypeRadioFacet.jsx
Due: catalog-search

refactor: updated frontend-build & resolved eslint issues for catalog-search
  packages/catalog-search/.eslintrc.js
  packages/catalog-search/package.json
  packages/catalog-search/src/ClearCurrentRefinements.jsx
  packages/catalog-search/src/CurrentRefinements.jsx
  packages/catalog-search/src/FacetDropdown.jsx
  packages/catalog-search/src/FacetItem.jsx
  packages/catalog-search/src/FacetListBase.jsx
  packages/catalog-search/src/FacetListRefinement.jsx
  packages/catalog-search/src/LearningTypeRadioFacet.jsx
  packages/catalog-search/src/MobileFilterMenu.jsx
  packages/catalog-search/src/SearchBox.jsx
  packages/catalog-search/src/SearchContext.jsx
  packages/catalog-search/src/SearchFilters.jsx
  packages/catalog-search/src/SearchHeader.jsx
  packages/catalog-search/src/SearchPagination.jsx
  packages/catalog-search/src/SearchSuggestionItem.jsx
  packages/catalog-search/src/SearchSuggestions.jsx
  packages/catalog-search/src/TypeaheadFacetDropdown.jsx
  packages/catalog-search/src/data/reducer.js
  packages/catalog-search/src/tests/FacetListBase.test.jsx
  packages/catalog-search/src/tests/MobileFilterMenu.test.jsx
  packages/catalog-search/src/tests/SearchFilters.test.jsx
  packages/catalog-search/src/tests/SearchPagination.test.jsx
Due: catalog-search

refactor: updated frontend-build to v12 & resolved eslint issues
  package-lock.json
  packages/hotjar/.eslintrc.js
  packages/hotjar/package.json
  packages/logistration/.eslintrc.js
  packages/logistration/package.json
  packages/logistration/src/LoginRedirect.test.jsx
  packages/utils/.eslintrc.js
  packages/utils/package.json
  packages/utils/src/test-utils.jsx
Due: logistration, utils

feat: add sendEnterpriseTrackEventWithDelay
  README.rst
  packages/utils/src/analytics.js
  packages/utils/src/index.js
  packages/utils/src/tests/analytics.test.js
Due: utils

feat: add sendEnterpriseTrackEventWithDelay (#272)
  README.rst
  packages/utils/src/analytics.js
  packages/utils/src/index.js
  packages/utils/src/tests/analytics.test.js
Due: utils

feat: add initial Toasts and ToastProvider component to package
  package-lock.json
  packages/toasts/.eslintignore
  packages/toasts/.eslintrc.js
  packages/toasts/.gitignore
  packages/toasts/.npmignore
  packages/toasts/CHANGELOG.md
  packages/toasts/LICENSE
  packages/toasts/Makefile
  packages/toasts/README.rst
  packages/toasts/babel.config.js
  packages/toasts/jest.config.js
  packages/toasts/package.json
  packages/toasts/src/Toasts.jsx
  packages/toasts/src/ToastsProvider.jsx
  packages/toasts/src/ToastsProvider.test.jsx
  packages/toasts/src/index.js
Due: none

update package.json
  package-lock.json
  packages/catalog-search/package.json
  packages/hotjar/package.json
  packages/logistration/package.json
  packages/toasts/package.json
  packages/toasts/src/ToastsProvider.jsx
  packages/toasts/src/ToastsProvider.test.jsx
  packages/toasts/src/en.json
  packages/utils/package.json
Due: none

refactor: pinned frontend-build version & eslint update
  package-lock.json
  packages/catalog-search/package.json
  packages/catalog-search/src/SearchSuggestionItem.jsx
  packages/catalog-search/src/SearchSuggestions.jsx
  packages/catalog-search/src/tests/SearchFilters.test.jsx
  packages/catalog-search/src/tests/SearchPagination.test.jsx
  packages/hotjar/package.json
  packages/logistration/package.json
  packages/logistration/src/LoginRedirect.test.jsx
  packages/utils/package.json
Due: catalog-search, logistration

Path conditions:
  catalog-search: any of: packages/catalog-search/src
  logistration: any of: packages/logistration/src
  utils: any of: packages/utils/src
