Repository openedx/frontend-enterprise: changes, and which Codecov flags are due for each by the changed paths.
All: catalog-search, logistration, utils

codecov.yml:

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 0.10%
      catalog-search:
        target: auto
        threshold: 0.10%
        flags:
          - catalog-search
      logistration:
        target: auto
        threshold: 0.10%
        flags:
          - logistration
      utils:
        target: auto
        threshold: 0.10%
        flags:
          - utils

flags:
  catalog-search:
    paths:
      - packages/catalog-search/src
  logistration:
    paths:
      - packages/logistration/src
  utils:
    paths:
      - packages/utils/src

comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: no

fix: Change the Search Box title to include programs
  packages/catalog-search/src/SearchBox.jsx
  packages/catalog-search/src/SearchHeader.jsx
  packages/catalog-search/src/tests/SearchBox.test.jsx
Due: catalog-search

fix: Change the Search Box title to include programs (#180)
  packages/catalog-search/src/SearchBox.jsx
  packages/catalog-search/src/SearchHeader.jsx
  packages/catalog-search/src/tests/SearchBox.test.jsx
Due: catalog-search

feat: support enterprise customer invite key in LoginRedirect
  packages/logistration/src/LoginRedirect.jsx
  packages/logistration/src/utils.js
Due: logistration

fix: remove query-string package
  packages/catalog-search/package-lock.json
  packages/logistration/package-lock.json
  packages/utils/package-lock.json
  packages/utils/package.json
  packages/utils/src/learnerPortalLinks.js
Due: utils

fix: lint
  packages/utils/src/learnerPortalLinks.js
Due: utils

docs: add jsdoc comments
  packages/logistration/src/utils.js
Due: logistration

feat: support enterprise customer invite key in LoginRedirect (#192)
  packages/catalog-search/package-lock.json
  packages/logistration/package-lock.json
  packages/logistration/src/LoginRedirect.jsx
  packages/logistration/src/utils.js
  packages/utils/package-lock.json
  packages/utils/package.json
  packages/utils/src/learnerPortalLinks.js
Due: logistration, utils

feat: add functionality to hide searchbox header
  packages/catalog-search/src/SearchBox.jsx
  packages/catalog-search/src/SearchHeader.jsx
  packages/catalog-search/src/tests/SearchBox.test.jsx
Due: catalog-search

fix: lint errors
  packages/catalog-search/src/SearchHeader.jsx
  packages/catalog-search/src/styles/_CurrentRefinements.scss
  packages/catalog-search/src/tests/SearchBox.test.jsx
Due: catalog-search

feat: add functionality to hide searchbox header (#194)
  packages/catalog-search/src/SearchBox.jsx
  packages/catalog-search/src/SearchHeader.jsx
  packages/catalog-search/src/styles/_CurrentRefinements.scss
  packages/catalog-search/src/tests/SearchBox.test.jsx
Due: catalog-search

fix(deps): update dependency query-string to v7
  packages/logistration/package.json
Due: none

fix: remove query-string dependency
  packages/catalog-search/package-lock.json
  packages/logistration/package-lock.json
  packages/logistration/package.json
Due: none

fix: remove query-string dependency (#204)
  packages/catalog-search/package-lock.json
  packages/logistration/package-lock.json
  packages/logistration/package.json
Due: none

feat: add hasFeatureFlagEnabled util function
  packages/catalog-search/src/config/index.js
  packages/catalog-search/src/data/tests/utils.test.js
  packages/catalog-search/src/data/utils.js
  packages/utils/src/index.js
  packages/utils/src/tests/utils.test.jsx
  packages/utils/src/utils.js
Due: catalog-search, utils

feat: add hasFeatureFlagEnabled util function (#209)
  packages/catalog-search/src/config/index.js
  packages/catalog-search/src/data/tests/utils.test.js
  packages/catalog-search/src/data/utils.js
  packages/utils/src/index.js
  packages/utils/src/tests/utils.test.jsx
  packages/utils/src/utils.js
Due: catalog-search, utils

build: Added support for node 16
  .github/workflows/ci.yml
Due: none

fix: npm update
  package-lock.json
  package.json
Due: none

fix: update event and job name
  .github/workflows/ci.yml
Due: none

fix: update workflow
  .github/workflows/ci.yml
Due: none

fix: try node-version in nvmrc
  .github/workflows/ci.yml
Due: none

fix: update
  .github/workflows/ci.yml
Due: none

fix: test
  .github/workflows/ci.yml
Due: none

feat: add autocomplete suggestion support and update tests
  packages/catalog-search/src/SearchBox.jsx
  packages/catalog-search/src/SearchHeader.jsx
  packages/catalog-search/src/styles/_SearchBox.scss
  packages/catalog-search/src/tests/SearchBox.test.jsx
  packages/catalog-search/src/tests/SearchHeader.test.jsx
Due: catalog-search

test: refactor code and add tests for suggestions
  packages/catalog-search/src/SearchBox.jsx
  packages/catalog-search/src/SearchSuggestions.jsx
  packages/catalog-search/src/tests/SearchBox.test.jsx
  packages/catalog-search/src/tests/SearchSuggestions.test.jsx
Due: catalog-search

test: add test for algolia call for suggestions
  packages/catalog-search/src/tests/SearchBox.test.jsx
Due: catalog-search

refactor: fix lint errors
  packages/catalog-search/src/tests/SearchBox.test.jsx
Due: catalog-search

refactor: incorporate review and add attributesToRetrieve in algolia call
  packages/catalog-search/src/SearchBox.jsx
  packages/catalog-search/src/SearchSuggestions.jsx
  packages/catalog-search/src/data/constants.js
  packages/catalog-search/src/styles/_SearchBox.scss
  packages/catalog-search/src/styles/_SearchSuggestions.scss
  packages/catalog-search/src/styles/_index.scss
  packages/catalog-search/src/tests/SearchBox.test.jsx
Due: catalog-search

fix: revert
  .github/workflows/ci.yml
Due: none

refactor: create separate component for suggestion items
  packages/catalog-search/src/SearchBox.jsx
  packages/catalog-search/src/SearchSuggestionItem.jsx
  packages/catalog-search/src/SearchSuggestions.jsx
  packages/catalog-search/src/styles/_SearchSuggestions.scss
  packages/catalog-search/src/tests/SearchBox.test.jsx
Due: catalog-search

feat: add type ahead autocomplete suggestion support (#215)
  packages/catalog-search/src/SearchBox.jsx
  packages/catalog-search/src/SearchHeader.jsx
  packages/catalog-search/src/SearchSuggestionItem.jsx
  packages/catalog-search/src/SearchSuggestions.jsx
  packages/catalog-search/src/data/constants.js
  packages/catalog-search/src/styles/_SearchBox.scss
  packages/catalog-search/src/styles/_SearchSuggestions.scss
  packages/catalog-search/src/styles/_index.scss
  packages/catalog-search/src/tests/SearchBox.test.jsx
  packages/catalog-search/src/tests/SearchHeader.test.jsx
  packages/catalog-search/src/tests/SearchSuggestions.test.jsx
Due: catalog-search

feat: add key for suggestion items
  packages/catalog-search/src/SearchBox.jsx
  packages/catalog-search/src/SearchSuggestionItem.jsx
  packages/catalog-search/src/SearchSuggestions.jsx
Due: catalog-search

chore(deps): update actions/setup-node action to v2
  .github/workflows/bump-all-major.yml
  .github/workflows/ci.yml
  .github/workflows/publish-from-package.yml
  .github/workflows/release.yml
Due: none

build: add DEPR workflow automation
  .github/workflows/add-depr-ticket-to-depr-board.yml
Due: none

build: add DEPR workflow automation (#226)
  .github/workflows/add-depr-ticket-to-depr-board.yml
Due: none

chore(deps): update dependency sanitize-html to 2.3.2 [security]
  package-lock.json
  package.json
Due: none

chore(deps): update dependency trim-newlines to 3.0.1 [security]
  package-lock.json
Due: none

fix: update all dependencies
  package-lock.json
  packages/catalog-search/package.json
  packages/logistration/package.json
  packages/utils/package-lock.json
  packages/utils/package.json
Due: none

revert: "fix: update all dependencies"
  package-lock.json
  packages/catalog-search/package.json
  packages/logistration/package.json
  packages/utils/package-lock.json
  packages/utils/package.json
Due: none

fix: updated package dependencies
  packages/catalog-search/package.json
  packages/logistration/package.json
  packages/utils/package-lock.json
  packages/utils/package.json
Due: none
