Repository openedx/frontend-enterprise: changes, and which Codecov flags are due for each by the changed paths.
All: catalog-search, logistration, utils

feat: support react 18 and move RTL to peerDep vs regular dep (#439)
  package-lock.json
  packages/utils/package.json
Due: none

chore(release): publish new versions
  package-lock.json
  packages/catalog-search/CHANGELOG.md
  packages/catalog-search/package.json
  packages/logistration/CHANGELOG.md
  packages/logistration/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: none

chore(release): publish new versions (#440)
  package-lock.json
  packages/catalog-search/CHANGELOG.md
  packages/catalog-search/package.json
  packages/logistration/CHANGELOG.md
  packages/logistration/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: none

fix: move RTL back into deps; require React 18
  package-lock.json
  packages/utils/package.json
Due: none

feat: support React 18 and Paragon v22
  package-lock.json
  packages/catalog-search/package.json
  packages/catalog-search/src/SearchPagination.jsx
  packages/catalog-search/src/tests/ClearCurrentRefinements.test.jsx
  packages/catalog-search/src/tests/CurrentRefinements.test.jsx
  packages/catalog-search/src/tests/FacetListBase.test.jsx
  packages/catalog-search/src/tests/FacetListRefinement.test.jsx
  packages/catalog-search/src/tests/LearningTypeRadioFacet.test.jsx
  packages/catalog-search/src/tests/MobileFilterMenu.test.jsx
  packages/catalog-search/src/tests/SearchBox.test.jsx
  packages/catalog-search/src/tests/SearchPagination.test.jsx
  packages/catalog-search/src/tests/SearchSuggestionItem.test.jsx
  packages/catalog-search/src/tests/SearchSuggestions.test.jsx
Due: catalog-search

chore: remove act around userEvent actions
  packages/catalog-search/src/tests/FacetListBase.test.jsx
  packages/catalog-search/src/tests/FacetListRefinement.test.jsx
  packages/catalog-search/src/tests/SearchBox.test.jsx
Due: catalog-search

chore: fix failing test
  packages/catalog-search/src/tests/FacetListBase.test.jsx
Due: catalog-search

chore: fix npm script to auto-fix lint
  packages/catalog-search/package.json
Due: none

fix: use secondary pagination variant
  packages/catalog-search/src/SearchPagination.jsx
Due: catalog-search

feat: support React 18; drop support for Paragon v21 in favor of v22 (#441)
  package-lock.json
  packages/catalog-search/package.json
  packages/catalog-search/src/SearchPagination.jsx
  packages/catalog-search/src/tests/ClearCurrentRefinements.test.jsx
  packages/catalog-search/src/tests/CurrentRefinements.test.jsx
  packages/catalog-search/src/tests/FacetListBase.test.jsx
  packages/catalog-search/src/tests/FacetListRefinement.test.jsx
  packages/catalog-search/src/tests/LearningTypeRadioFacet.test.jsx
  packages/catalog-search/src/tests/MobileFilterMenu.test.jsx
  packages/catalog-search/src/tests/SearchBox.test.jsx
  packages/catalog-search/src/tests/SearchPagination.test.jsx
  packages/catalog-search/src/tests/SearchSuggestionItem.test.jsx
  packages/catalog-search/src/tests/SearchSuggestions.test.jsx
Due: catalog-search

chore(release): publish new versions
  package-lock.json
  packages/catalog-search/CHANGELOG.md
  packages/catalog-search/package.json
Due: none

chore(release): publish new versions (#443)
  package-lock.json
  packages/catalog-search/CHANGELOG.md
  packages/catalog-search/package.json
Due: none

test: upgrade @testing-library/react
  package-lock.json
  packages/catalog-search/package.json
  packages/catalog-search/src/data/tests/hooks.test.jsx
Due: catalog-search

test: upgrade @testing-library/react (#445)
  package-lock.json
  packages/catalog-search/package.json
  packages/catalog-search/src/data/tests/hooks.test.jsx
Due: catalog-search

chore(release): publish new versions (#446)
  package-lock.json
  packages/catalog-search/CHANGELOG.md
  packages/catalog-search/package.json
Due: none

chore: upgrade paragon to v23 in catalog-search
  package-lock.json
  packages/catalog-search/package.json
Due: none

fix: resolve lint issue
  packages/utils/src/test-utils.jsx
Due: utils

fix: removes content type video from search suggestions
  .github/workflows/ci.yml
  packages/catalog-search/src/SearchHeader.jsx
Due: catalog-search

fix: removes content type video from search suggestions (#462)
  .github/workflows/ci.yml
  packages/catalog-search/src/SearchHeader.jsx
Due: catalog-search

chore(release): publish new versions (#463)
  package-lock.json
  packages/catalog-search/CHANGELOG.md
  packages/catalog-search/package.json
Due: none

fix: reorders run steps
  .github/workflows/publish-from-package.yml
  .github/workflows/release.yml
Due: none

fix: reorders run steps (#464)
  .github/workflows/publish-from-package.yml
  .github/workflows/release.yml
Due: none

chore: Update Github action package versions with SHA commit
  .github/workflows/ci.yml
  .github/workflows/publish-from-package.yml
  .github/workflows/release.yml
Due: none

chore: pin GitHub Actions workflows to full commit SHAs
  .github/workflows/ci.yml
  .github/workflows/publish-from-package.yml
  .github/workflows/release.yml
Due: none

fix: make NPM auth check non-blocking while token is invalid
  .github/workflows/ci.yml
Due: none

Path conditions:
  catalog-search: any of: packages/catalog-search/src
  logistration: any of: packages/logistration/src
  utils: any of: packages/utils/src
