Repository openedx/frontend-enterprise: changes, and which Codecov flags are due for each by the changed paths.
All: catalog-search, logistration, utils

refactor: resolved eslint issues post master branch merge
  packages/utils/src/analytics.js
Due: utils

fix: hotfix for explore catalog issue
  packages/catalog-search/src/TypeaheadFacetDropdown.jsx
Due: catalog-search

fix: hotfix for explore catalog issue (#275)
  packages/catalog-search/src/TypeaheadFacetDropdown.jsx
Due: catalog-search

feat: Add tracking events to existing dropdown facets and typeahead dropdowns
  packages/catalog-search/src/FacetDropdown.jsx
  packages/catalog-search/src/FacetListBase.jsx
  packages/catalog-search/src/SearchContext.jsx
  packages/catalog-search/src/TypeaheadFacetDropdown.jsx
  packages/catalog-search/src/data/tests/utils.test.js
  packages/catalog-search/src/data/utils.js
Due: catalog-search

refactor: updated frontend-build & resolved eslint issues for catalog-search
  package-lock.json
  packages/catalog-search/package.json
  packages/catalog-search/src/ClearCurrentRefinements.jsx
  packages/catalog-search/src/CurrentRefinements.jsx
  packages/catalog-search/src/FacetDropdown.jsx
  packages/catalog-search/src/FacetItem.jsx
  packages/catalog-search/src/FacetListBase.jsx
  packages/catalog-search/src/FacetListRefinement.jsx
  packages/catalog-search/src/LearningTypeRadioFacet.jsx
  packages/catalog-search/src/MobileFilterMenu.jsx
  packages/catalog-search/src/SearchBox.jsx
  packages/catalog-search/src/SearchContext.jsx
  packages/catalog-search/src/SearchFilters.jsx
  packages/catalog-search/src/SearchHeader.jsx
  packages/catalog-search/src/SearchPagination.jsx
  packages/catalog-search/src/SearchSuggestionItem.jsx
  packages/catalog-search/src/SearchSuggestions.jsx
  packages/catalog-search/src/TypeaheadFacetDropdown.jsx
  packages/catalog-search/src/tests/MobileFilterMenu.test.jsx
  packages/catalog-search/src/tests/SearchFilters.test.jsx
Due: catalog-search

refactor: updated frontend-build & resolved eslint issues for hotjar
  package-lock.json
  packages/hotjar/package.json
Due: none

refactor: updated frontend-build & resolved eslint issues for logistration
  package-lock.json
  packages/logistration/package.json
  packages/logistration/src/LoginRedirect.jsx
  packages/logistration/src/LoginRedirect.test.jsx
Due: logistration

refactor: updated frontend-build & resolved eslint issues for utils
  packages/utils/package.json
  packages/utils/src/test-utils.jsx
Due: utils

refactor: updated package-lock
  package-lock.json
Due: none

feat: upgrade frontend platform to version 3
  package-lock.json
  packages/catalog-search/package.json
  packages/logistration/package.json
  packages/utils/package.json
Due: none

fix: only apply bg-brand-primary to SearchHeader if variant=inverse
  packages/catalog-search/src/SearchHeader.jsx
  packages/catalog-search/src/tests/SearchHeader.test.jsx
Due: catalog-search

fix: only apply bg-brand-primary to SearchHeader if variant=inverse (#281)
  packages/catalog-search/src/SearchHeader.jsx
  packages/catalog-search/src/tests/SearchHeader.test.jsx
Due: catalog-search

refactor: Updated frontend-build to v12 (#270)
  package-lock.json
  packages/catalog-search/.eslintrc.js
  packages/catalog-search/package.json
  packages/catalog-search/src/SearchSuggestionItem.jsx
  packages/catalog-search/src/SearchSuggestions.jsx
  packages/catalog-search/src/data/reducer.js
  packages/catalog-search/src/tests/FacetListBase.test.jsx
  packages/catalog-search/src/tests/SearchFilters.test.jsx
  packages/catalog-search/src/tests/SearchPagination.test.jsx
  packages/hotjar/.eslintrc.js
  packages/hotjar/package.json
  packages/logistration/.eslintrc.js
  packages/logistration/package.json
  packages/logistration/src/LoginRedirect.jsx
  packages/utils/.eslintrc.js
  packages/utils/package.json
  packages/utils/src/analytics.js
  packages/utils/src/test-utils.jsx
Due: catalog-search, logistration, utils

chore: Remove unused and potentially dangerous versioning workflow
  .github/workflows/bump-all-major.yml
Due: none

feat: Attempt to fix up lerna auto versioning and package publishing
  .github/workflows/ci.yml
  .github/workflows/publish-from-package.yml
  .github/workflows/release.yml
  lerna.json
Due: none

Attempt to fixup Lerna package publishing automation. (#289)
  .github/workflows/bump-all-major.yml
  .github/workflows/ci.yml
  .github/workflows/publish-from-package.yml
  .github/workflows/release.yml
  lerna.json
Due: none

fix: manually bump package version number to account for faulty release
  packages/catalog-search/package.json
Due: none

More automation fixing. (#290)
  packages/catalog-search/package.json
Due: none

fix: bump hotjar and logistration package versions to account for bad release
  packages/hotjar/package.json
  packages/logistration/package.json
Due: none

Moar automation fixes. (#291)
  packages/hotjar/package.json
  packages/logistration/package.json
Due: none

fix: more version fixes
  packages/utils/package.json
Due: none

fix: more version fixes (#292)
  packages/utils/package.json
Due: none

chore(release): publish %s (#293)
  packages/catalog-search/CHANGELOG.md
  packages/catalog-search/package.json
  packages/hotjar/CHANGELOG.md
  packages/hotjar/package.json
  packages/logistration/CHANGELOG.md
  packages/logistration/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: none

fix: Point the new Lerna PR building to the correct branch.
  .github/workflows/release.yml
Due: none

Fix: Point lerna at the correct branch. (#294)
  .github/workflows/release.yml
Due: none

fix: try resetting the lerna branch.
  .github/workflows/release.yml
Due: none

fix: try resetting the lerna branch. (#295)
  .github/workflows/release.yml
Due: none

fix: try force pushing..
  .github/workflows/release.yml
Due: none

Try force pushing. Add static PR title/body
  .github/workflows/release.yml
Due: none

Try force pushing. Add static PR title/body (#296)
  .github/workflows/release.yml
Due: none

fix: Bump all versions one final time I hope....
  packages/catalog-search/package.json
  packages/hotjar/package.json
  packages/logistration/package.json
  packages/utils/package.json
Due: none

fix: Bump all versions one final time I hope.... (#297)
  packages/catalog-search/package.json
  packages/hotjar/package.json
  packages/logistration/package.json
  packages/utils/package.json
Due: none

chore(release): publish %s (#298)
  packages/catalog-search/CHANGELOG.md
  packages/catalog-search/package.json
  packages/hotjar/CHANGELOG.md
  packages/hotjar/package.json
  packages/logistration/CHANGELOG.md
  packages/logistration/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: none

fix: lerna status message. Provide correct base branch to PR generator.
  .github/workflows/release.yml
  lerna.json
Due: none

fix: lerna status message. Provide correct base branch to PR generator. (#299)
  .github/workflows/release.yml
  lerna.json
Due: none

[create-pull-request] automated change
  .npmrc
Due: none

fix: manully bump versions after failed automation run
  packages/catalog-search/package.json
  packages/hotjar/package.json
  packages/logistration/package.json
  packages/utils/package.json
Due: none

fix: manully bump versions after failed automation run (#301)
  packages/catalog-search/package.json
  packages/hotjar/package.json
  packages/logistration/package.json
  packages/utils/package.json
Due: none

chore: Add .npmrc to the .gitignore file.
  .gitignore
Due: none

chore: Add .npmrc to the .gitignore file. (#302)
  .gitignore
Due: none

Path conditions:
  catalog-search: any of: packages/catalog-search/src
  logistration: any of: packages/logistration/src
  utils: any of: packages/utils/src
