Repository openedx/frontend-enterprise: changes, and which Codecov flags are due for each by the changed paths.
All: catalog-search, logistration, utils

codecov.yml:

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 0.10%
      catalog-search:
        target: auto
        threshold: 0.10%
        flags:
          - catalog-search
      logistration:
        target: auto
        threshold: 0.10%
        flags:
          - logistration
      utils:
        target: auto
        threshold: 0.10%
        flags:
          - utils

flags:
  catalog-search:
    paths:
      - packages/catalog-search/src
  logistration:
    paths:
      - packages/logistration/src
  utils:
    paths:
      - packages/utils/src

comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: no

ci: use from-git vs from-package in lerna publish (#120)
  .github/workflows/release.yml
Due: none

fix: add loadingDisplay prop to LoginRedirect
  packages/logistration/src/LoginRedirect.jsx
Due: logistration

test: add test case for loadingDisplay
  packages/logistration/src/LoginRedirect.test.jsx
Due: logistration

fix: add loadingDisplay prop to LoginRedirect (#121)
  packages/logistration/src/LoginRedirect.jsx
  packages/logistration/src/LoginRedirect.test.jsx
Due: logistration

chore(deps): update dependency @testing-library/react-hooks to v5
  packages/catalog-search/package-lock.json
  packages/catalog-search/package.json
Due: none

ci: force publish from-package to get versions in sync with npm
  .github/workflows/release.yml
Due: none

ci: force publish from-package to get versions in sync with npm (#123)
  .github/workflows/release.yml
Due: none

fix: add temp export to test publish
  .github/workflows/release.yml
  packages/logistration/src/index.js
Due: logistration

ci: trigger manual release with from-package
  .github/workflows/release.yml
Due: none

fix: lerna release config
  .github/workflows/release.yml
  packages/logistration/src/index.js
Due: logistration

ci: trigger release with from-package
  .github/workflows/release.yml
Due: none

fix: temporary export and lerna release config update
  .github/workflows/release.yml
  lerna.json
  packages/logistration/src/index.js
Due: logistration

fix: temporary export and lerna release config update (#127)
  .github/workflows/release.yml
  lerna.json
  packages/logistration/src/index.js
Due: logistration

fix: split role name from context in JWT user roles
  .github/workflows/ci.yml
  .github/workflows/release.yml
  lerna.json
  packages/logistration/src/LoginRedirect.jsx
  packages/logistration/src/index.js
  packages/logistration/src/utils.js
  packages/utils/src/roles.js
Due: logistration, utils

test: add tests for functions in roles.js
  packages/utils/src/roles.js
  packages/utils/src/tests/roles.test.jsx
Due: utils

style: add comma
  packages/utils/src/tests/roles.test.jsx
Due: utils

fix: split role name from context in JWT user roles (#122)
  .github/workflows/ci.yml
  .github/workflows/release.yml
  lerna.json
  packages/logistration/src/LoginRedirect.jsx
  packages/logistration/src/index.js
  packages/logistration/src/utils.js
  packages/utils/src/roles.js
  packages/utils/src/tests/roles.test.jsx
Due: logistration, utils

fix(deps): roll back dependency @edx/frontend-enterprise-utils to ^0.1.5
  packages/catalog-search/package.json
  packages/logistration/package.json
Due: none

ci: revert use of from-package in lerna publish
  .github/workflows/release.yml
Due: none

fix: downgrade query-string to pin to ES5 compatible version
  packages/logistration/package-lock.json
  packages/logistration/package.json
  packages/utils/package-lock.json
  packages/utils/package.json
Due: none

fix: downgrade query-string to pin to ES5 compatible version (#129)
  packages/logistration/package-lock.json
  packages/logistration/package.json
  packages/utils/package-lock.json
  packages/utils/package.json
Due: none

ci: trigger publish from-package
  .github/workflows/release.yml
Due: none

ci: revert back to vanilla lerna publish
  .github/workflows/release.yml
Due: none

chore(deps): update dependency @testing-library/react-hooks to v6
  packages/catalog-search/package.json
Due: none

maint: adding New Relic data tags for monitoring purposes
  packages/catalog-search/src/SearchBox.jsx
Due: catalog-search

docs: update lerna publishing resolution how-to
  docs/how_tos/resolving_publishing_issues_with_lerna.rst
Due: none

docs: update lerna publishing resolution how-to (#135)
  docs/how_tos/resolving_publishing_issues_with_lerna.rst
Due: none

chore(deps): update dependency normalize-url to 4.5.1 [security]
  package-lock.json
Due: none

Update resolving_publishing_issues_with_lerna.rst
  docs/how_tos/resolving_publishing_issues_with_lerna.rst
Due: none

exporting FacetListRefinement to use it in skills-quiz
  packages/catalog-search/src/index.js
Due: catalog-search

exporting FacetListRefinement to use it in skills-quiz (#138)
  packages/catalog-search/src/index.js
Due: catalog-search

ci: Fix lerna config
  .github/workflows/release.yml
Due: none

added support for single-item facetValueType in FacetListBase
  packages/catalog-search/src/FacetListBase.jsx
Due: catalog-search

ci: bump catalog-search version to 0.1.12 for npm release
  .github/workflows/release.yml
  packages/catalog-search/CHANGELOG.md
  packages/catalog-search/package-lock.json
  packages/catalog-search/package.json
Due: none

ci: remove from-package positional arg from lerna publish command
  .github/workflows/release.yml
Due: none
