Repository openedx/frontend-enterprise: changes, and which Codecov flags are due for each by the changed paths.
All: catalog-search, logistration, utils

build: address version conflicts and include peer deps ranges
  package-lock.json
  package.json
  packages/catalog-search/package-lock.json
  packages/catalog-search/package.json
  packages/logistration/package-lock.json
  packages/logistration/package.json
  packages/utils/package-lock.json
  packages/utils/package.json
Due: none

fix: autocomplete defensive code fix
  .gitignore
  packages/catalog-search/src/SearchSuggestions.jsx
  packages/catalog-search/src/tests/SearchSuggestions.test.jsx
Due: catalog-search

fix: autocomplete defensive code fix (#236)
  .gitignore
  packages/catalog-search/src/SearchSuggestions.jsx
  packages/catalog-search/src/tests/SearchSuggestions.test.jsx
Due: catalog-search

feat: add learning type `Pathways`
  packages/catalog-search/src/CurrentRefinements.jsx
  packages/catalog-search/src/LearningTypeRadioFacet.jsx
  packages/catalog-search/src/config/index.js
  packages/catalog-search/src/data/constants.js
Due: catalog-search

test: add tests for LearningTypeRadioFacet
  packages/catalog-search/src/LearningTypeRadioFacet.jsx
  packages/catalog-search/src/tests/LearningTypeRadioFacet.test.jsx
Due: catalog-search

refactor: fix lint issues
  packages/catalog-search/src/LearningTypeRadioFacet.jsx
Due: catalog-search

feat: add learning type `Pathways` (#237)
  packages/catalog-search/src/CurrentRefinements.jsx
  packages/catalog-search/src/LearningTypeRadioFacet.jsx
  packages/catalog-search/src/config/index.js
  packages/catalog-search/src/data/constants.js
  packages/catalog-search/src/tests/LearningTypeRadioFacet.test.jsx
Due: catalog-search

docs: update PR template
  .github/pull_request_template.md
Due: none

docs: update PR template (#238)
  .github/pull_request_template.md
Due: none

chore(deps): update dependency axios to 0.21.2 [security]
  package-lock.json
  package.json
Due: none

chore(deps): update dependency ansi-regex to 5.0.1 [security]
  package-lock.json
Due: none

build: add node 16 testing
  .github/workflows/ci.yml
Due: none

feat: add node 16 support in @edx/frontend-enterprise-utils
  package.json
  packages/utils/package-lock.json
  packages/utils/package.json
Due: none

feat: add node 16 support in @edx/frontend-enterprise-utils
  packages/utils/package.json
Due: none

fix: move to node 16
  .github/workflows/ci.yml
  .nvmrc
  package-lock.json
  package.json
  packages/catalog-search/package.json
  packages/logistration/package.json
  packages/utils/package-lock.json
  packages/utils/package.json
Due: none

fix: node 16 upgrade
  package-lock.json
  package.json
  packages/catalog-search/package-lock.json
  packages/catalog-search/package.json
  packages/logistration/package-lock.json
  packages/logistration/package.json
  packages/utils/package-lock.json
  packages/utils/package.json
Due: none

fix: resolve test errors and warnings
  packages/catalog-search/package.json
  packages/catalog-search/src/FacetDropdown.jsx
  packages/catalog-search/src/LearningTypeRadioFacet.jsx
  packages/catalog-search/src/SearchBox.jsx
  packages/catalog-search/src/tests/SearchBox.test.jsx
  packages/catalog-search/src/tests/SearchHeader.test.jsx
  packages/logistration/package.json
  packages/utils/package.json
Due: catalog-search

chore: fix lint
  packages/catalog-search/src/SearchBox.jsx
  packages/catalog-search/src/tests/SearchHeader.test.jsx
Due: catalog-search

feat: making suggested items backwards compatible and redirect func overridable
  packages/catalog-search/src/SearchBox.jsx
  packages/catalog-search/src/SearchHeader.jsx
  packages/catalog-search/src/SearchSuggestionItem.jsx
  packages/catalog-search/src/SearchSuggestions.jsx
  packages/catalog-search/src/data/constants.js
  packages/catalog-search/src/data/hooks.js
  packages/catalog-search/src/tests/SearchBox.test.jsx
  packages/catalog-search/src/tests/SearchSuggestions.test.jsx
Due: catalog-search

feat: making suggested items backwards compatible and redirect func overridable (#242)
  packages/catalog-search/src/SearchBox.jsx
  packages/catalog-search/src/SearchHeader.jsx
  packages/catalog-search/src/SearchSuggestionItem.jsx
  packages/catalog-search/src/SearchSuggestions.jsx
  packages/catalog-search/src/data/constants.js
  packages/catalog-search/src/data/hooks.js
  packages/catalog-search/src/tests/SearchBox.test.jsx
  packages/catalog-search/src/tests/SearchSuggestions.test.jsx
Due: catalog-search

chore(deps): update dependency node-fetch to 2.6.7 [security]
  package-lock.json
Due: none

chore(deps): update dependency shelljs to 0.8.5 [security]
  package-lock.json
Due: none

chore(deps): update dependency tar to 6.1.9 [security]
  package-lock.json
Due: none

chore(deps): update dependency trim-off-newlines to 1.0.3 [security]
  package-lock.json
Due: none

fix: resolves many peer dependency issues
  package-lock.json
  package.json
  packages/catalog-search/package-lock.json
  packages/catalog-search/package.json
  packages/logistration/package-lock.json
  packages/logistration/package.json
  packages/utils/package-lock.json
  packages/utils/package.json
Due: none

fix: updates
  packages/catalog-search/package.json
  packages/logistration/package-lock.json
Due: none

fix: package-lock fix
  packages/catalog-search/package-lock.json
Due: none

fix: move useParams hook higher
  packages/logistration/src/LoginRedirect.jsx
Due: logistration

chore(deps): update dependency @testing-library/react-hooks to v7
  packages/catalog-search/package.json
Due: none

feat: persistent facet filters
  package-lock.json
  package.json
  packages/catalog-search/package.json
  packages/catalog-search/src/FacetDropdown.jsx
  packages/catalog-search/src/tests/SearchBox.test.jsx
Due: catalog-search

feat: remove feature flag for pathways
  packages/catalog-search/src/LearningTypeRadioFacet.jsx
  packages/catalog-search/src/config/index.js
  packages/catalog-search/src/tests/LearningTypeRadioFacet.test.jsx
Due: catalog-search

refactor: remove unused imports
  packages/catalog-search/src/LearningTypeRadioFacet.jsx
  packages/catalog-search/src/tests/LearningTypeRadioFacet.test.jsx
Due: catalog-search

feat: persistent facet filters (#251)
  package-lock.json
  package.json
  packages/catalog-search/package.json
  packages/catalog-search/src/FacetDropdown.jsx
  packages/catalog-search/src/tests/SearchBox.test.jsx
Due: catalog-search

chore(deps): update dependency algoliasearch-helper to 3.6.2 [security]
  packages/catalog-search/package-lock.json
Due: none

chore(deps): update dependency ansi-html to 0.0.8 [security]
  packages/catalog-search/package-lock.json
  packages/catalog-search/package.json
  packages/logistration/package-lock.json
  packages/logistration/package.json
  packages/utils/package-lock.json
  packages/utils/package.json
Due: none

chore(deps): update dependency ansi-regex [security]
  packages/catalog-search/package-lock.json
  packages/logistration/package-lock.json
  packages/utils/package-lock.json
Due: none

chore(deps): update dependency browserslist to 4.16.5 [security]
  packages/catalog-search/package-lock.json
  packages/catalog-search/package.json
  packages/logistration/package-lock.json
  packages/logistration/package.json
  packages/utils/package-lock.json
  packages/utils/package.json
Due: none

chore(deps): update dependency dns-packet to 1.3.2 [security]
  packages/logistration/package-lock.json
  packages/utils/package-lock.json
Due: none

Path conditions:
  catalog-search: any of: packages/catalog-search/src
  logistration: any of: packages/logistration/src
  utils: any of: packages/utils/src
