Repository openedx/frontend-enterprise: changes, and which Codecov flags are due for each by the changed paths.
All: catalog-search, logistration, utils

codecov.yml:

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 0.10%
      catalog-search:
        target: auto
        threshold: 0.10%
        flags:
          - catalog-search
      logistration:
        target: auto
        threshold: 0.10%
        flags:
          - logistration
      utils:
        target: auto
        threshold: 0.10%
        flags:
          - utils

flags:
  catalog-search:
    paths:
      - packages/catalog-search/src
  logistration:
    paths:
      - packages/logistration/src
  utils:
    paths:
      - packages/utils/src

comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: no

chore(release): publish new version of catalog-search. (#339)
  package-lock.json
  packages/catalog-search/CHANGELOG.md
  packages/catalog-search/package.json
Due: none

feat: react router upgrade to v6
  package-lock.json
  packages/utils/package.json
  packages/utils/src/test-utils.jsx
Due: utils

fix: failinf seach suggestion test case
  packages/catalog-search/src/tests/SearchSuggestions.test.jsx
Due: catalog-search

fix: all test cases
  packages/catalog-search/src/tests/CurrentRefinements.test.jsx
  packages/catalog-search/src/tests/FacetListBase.test.jsx
  packages/catalog-search/src/tests/FacetListRefinement.test.jsx
  packages/catalog-search/src/tests/SearchBox.test.jsx
  packages/catalog-search/src/tests/SearchPagination.test.jsx
  packages/catalog-search/src/tests/SearchSuggestionItem.test.jsx
  packages/logistration/src/LoginRedirect.test.jsx
Due: catalog-search, logistration

chore(release): publish new versions
  package-lock.json
  packages/catalog-search/CHANGELOG.md
  packages/catalog-search/package.json
  packages/logistration/CHANGELOG.md
  packages/logistration/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: none

chore(release): publish new versions (#341)
  package-lock.json
  packages/catalog-search/CHANGELOG.md
  packages/catalog-search/package.json
  packages/logistration/CHANGELOG.md
  packages/logistration/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: none

feat: upgrade react router of logistraion
  package-lock.json
  packages/logistration/package.json
Due: none

updated test-utils
  packages/utils/src/test-utils.jsx
Due: utils

refactor: updated packages
  package-lock.json
  packages/catalog-search/package.json
Due: none

refactor: updated packages
  package-lock.json
Due: none

refactor: updated peerDependencies
  package-lock.json
  packages/catalog-search/package.json
  packages/hotjar/package.json
  packages/logistration/package.json
  packages/utils/package.json
Due: none

refactor: updated frontend-platform
  package-lock.json
  packages/catalog-search/package.json
  packages/logistration/package.json
  packages/utils/package.json
Due: none

feat: upgrade react router to v6
  package-lock.json
  packages/catalog-search/package.json
  packages/catalog-search/src/SearchContext.jsx
  packages/hotjar/package.json
  packages/logistration/package.json
  packages/utils/package.json
  packages/utils/src/test-utils.jsx
Due: catalog-search, utils

feat: upgrade react router of catalog search
  package-lock.json
  packages/catalog-search/package.json
  packages/catalog-search/src/SearchContext.jsx
Due: catalog-search

feat: upgraded react router version and made respective changes
  package-lock.json
  packages/catalog-search/package.json
  packages/catalog-search/src/SearchContext.jsx
  packages/catalog-search/src/tests/FacetListBase.test.jsx
  packages/hotjar/package.json
  packages/logistration/package.json
  packages/utils/package.json
  packages/utils/src/test-utils.jsx
Due: catalog-search, utils

refactor: updated peer dependencies
  packages/catalog-search/package.json
  packages/hotjar/package.json
  packages/logistration/package.json
  packages/utils/package.json
Due: none

refactor: updated paragon
  package-lock.json
  packages/catalog-search/package.json
Due: none

refactor: pinned @fortawesome/react-fontawesome version & updated peerDependency
  package-lock.json
  packages/catalog-search/package.json
Due: none

feat: update react & react-dom to v17 (#338)
  package-lock.json
  packages/catalog-search/package.json
  packages/hotjar/package.json
  packages/logistration/package.json
  packages/utils/package.json
Due: none

chore: remove the allowe branch in lerna config
  lerna.json
Due: none

Release new versions (#348)
  lerna.json
  package-lock.json
  packages/catalog-search/CHANGELOG.md
  packages/catalog-search/package.json
  packages/logistration/CHANGELOG.md
  packages/logistration/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: none

chore: Update instructions for releaseing to NPM with Lerna
  README.rst
  package.json
Due: none

chore: Update instructions for releaseing to NPM with Lerna (#335)
  README.rst
  package.json
Due: none

chore(release): publish new version for @edx/frontend-enterprise-logistration@1.4.0
  package-lock.json
  packages/hotjar/CHANGELOG.md
  packages/hotjar/package.json
Due: none

chore(release): publish new version for @edx/frontend-enterprise-logistration@1.4.0 (#349)
  package-lock.json
  packages/hotjar/CHANGELOG.md
  packages/hotjar/package.json
Due: none

chore: replace font-awesome with paragon icons
  packages/catalog-search/package.json
  packages/catalog-search/src/CurrentRefinements.jsx
  packages/catalog-search/src/MobileFilterMenu.jsx
  packages/catalog-search/src/SearchPagination.jsx
  packages/catalog-search/src/styles/_CurrentRefinements.scss
Due: catalog-search

fix: refactor to incorporate reviewer comment
  package-lock.json
  packages/catalog-search/src/CurrentRefinements.jsx
  packages/catalog-search/src/styles/_CurrentRefinements.scss
Due: catalog-search

chore: replace font-awesome with paragon icons (#350)
  package-lock.json
  packages/catalog-search/package.json
  packages/catalog-search/src/CurrentRefinements.jsx
  packages/catalog-search/src/MobileFilterMenu.jsx
  packages/catalog-search/src/SearchPagination.jsx
  packages/catalog-search/src/styles/_CurrentRefinements.scss
Due: catalog-search

chore(release): publish new versions (#352)
  package-lock.json
  packages/catalog-search/CHANGELOG.md
  packages/catalog-search/package.json
  packages/logistration/CHANGELOG.md
  packages/logistration/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: none

feat: upgrade react router to v6
  package-lock.json
  packages/catalog-search/package.json
  packages/catalog-search/src/SearchContext.jsx
  packages/catalog-search/src/SearchSuggestionItem.jsx
  packages/catalog-search/src/tests/CurrentRefinements.test.jsx
  packages/catalog-search/src/tests/FacetListBase.test.jsx
  packages/catalog-search/src/tests/FacetListRefinement.test.jsx
  packages/catalog-search/src/tests/LearningTypeRadioFacet.test.jsx
  packages/catalog-search/src/tests/SearchBox.test.jsx
  packages/catalog-search/src/tests/SearchPagination.test.jsx
  packages/catalog-search/src/tests/SearchSuggestionItem.test.jsx
  packages/catalog-search/src/tests/SearchSuggestions.test.jsx
  packages/hotjar/package.json
  packages/logistration/package.json
  packages/utils/package.json
  packages/utils/src/test-utils.jsx
Due: catalog-search, utils

feat!: upgrade react router to v6 (#344)
  package-lock.json
  packages/catalog-search/package.json
  packages/catalog-search/src/SearchContext.jsx
  packages/catalog-search/src/SearchSuggestionItem.jsx
  packages/catalog-search/src/tests/CurrentRefinements.test.jsx
  packages/catalog-search/src/tests/FacetListBase.test.jsx
  packages/catalog-search/src/tests/FacetListRefinement.test.jsx
  packages/catalog-search/src/tests/LearningTypeRadioFacet.test.jsx
  packages/catalog-search/src/tests/SearchBox.test.jsx
  packages/catalog-search/src/tests/SearchPagination.test.jsx
  packages/catalog-search/src/tests/SearchSuggestionItem.test.jsx
  packages/catalog-search/src/tests/SearchSuggestions.test.jsx
  packages/hotjar/package.json
  packages/logistration/package.json
  packages/utils/package.json
  packages/utils/src/test-utils.jsx
Due: catalog-search, utils

chore(release): publish new version for @edx/frontend-enterprise-hotjar@2.0.0
  package-lock.json
  packages/hotjar/CHANGELOG.md
  packages/hotjar/package.json
Due: none

chore(release): publish new versions (#354)
  package-lock.json
  packages/catalog-search/CHANGELOG.md
  packages/catalog-search/package.json
  packages/hotjar/CHANGELOG.md
  packages/hotjar/package.json
  packages/logistration/CHANGELOG.md
  packages/logistration/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: none

refactor: update lock file version
  .github/workflows/lockfileversion-check.yml
Due: none

feat: allow Paragon v21 in catalog-search
  package-lock.json
  packages/catalog-search/package.json
Due: none

feat: allow Paragon v21 in catalog-search (#356)
  package-lock.json
  packages/catalog-search/package.json
Due: none
